body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    justify-content: center;
    background-color: #f0f0f0; 
    margin: 0;
    padding: 20px;
}


h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #555;
}
.calculator{
    position: relative;
    display: inline-block;
}


.calculator-elt {
    width: 280px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #ececec;
    border: none;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.mode-indicator-display {
    position: absolute;
    right: 15px;
    top: 25px;
    font-size: 18px;
    color: #555;
    pointer-events: none; 
}


.button {
    background-color: #00cec9;
    color: white;
    width: 60px;
    height: 60px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin: 10px 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.button, .op-button, .operat-button {
    width: 60px;
    height: 60px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin: 10px 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.button {
    background-color: #00cec9;
    color: white;
}

.op-button {
    background-color: #ff7675;
    color: white;
}

.operat-button {
    background-color: #6c5ce7;
    color: white;
}


.button:hover, .op-button:hover, .operat-button:hover {
    background-color: #74b9ff;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}




.complex-operations, .operands-operators {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 350px;
    margin: 0 auto;
}


@media (max-width: 600px) {
    .calculator-elt {
        width: 100%;
        font-size: 20px;
    }
    .button, .op-button, .operat-button {
        width: 55px;
        height: 55px;
        font-size: 16px;
    }
}

